:root {
  --beige: #f9f4ef;
  --text: #2d2d2d;
  --accent: #c1a57b;
  --active-link: #a88765;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--beige);
  color: var(--text);
}

.contact-hero {
  background-color: #f2feff;
  padding: 80px 20px;
}

.contact-title {
  font-family: 'Segoe UI', sans-serif;
}

.contact-subtitle {
  margin-top: 10px;
  font-weight: 400;
}
